.empty-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}
